/* Google Fonts imported:
font-family: 'Caveat Brush', cursive;
font-family: 'Noto Sans Nabataean', sans-serif;
font-family: 'Playpen Sans', cursive;
font-family: 'Poppins', sans-serif;
*/

body {
  margin: 0;
  font-family: 'Caveat Brush', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Arial';
}

h1 {
  background-color: lightgray;
}

.app {
  background: purple;
  padding: 30px;
  height: 100vh;
}

.todo-list{
  background: rgb(6, 156, 207);
  border-radius: 4px;
  padding: 5px;
  max-width: 400px;
}

.todo{
  background: lightgrey;
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.15);
  padding: 3px 10px;
  font-size: 24px;
  margin-bottom: 6px;
  border-radius: 3px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.input{
  width: 100%;
  font-family: 'Caveat Brush', cursive;
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  font-size: 24px;
}
